@tailwind components;

@layer components {
  /* Stack */
  .stack-vertical {
    @apply inline-grid;
    & > * {
      @apply col-start-1 row-start-1 w-full opacity-60;
    }
    & > * {
      transform: translateY(10%) scale(0.9);
      z-index: 1;
    }
    & > *:nth-child(2) {
      @apply opacity-80;
    }
    & > *:nth-child(2) {
      transform: translateY(5%) scale(0.95);
      z-index: 2;
    }
    & > *:nth-child(1) {
      @apply opacity-100;
    }
    & > *:nth-child(1) {
      transform: translateY(0) scale(1);
      z-index: 3;
    }
  }

  /* Spinner */
  @keyframes ripple {
    from {
      transform: scale(0);
      opacity: 1;
    }
    to {
      transform: scale(3);
      opacity: 0;
    }
  }
  .ripple:not(:empty) {
    overflow: hidden;
    position: relative;
    transform: translateZ(0);
  }
  .ripple-element {
    @apply ui-border-white ui-border-solid ui-rounded-full ui-pointer-events-none ui-absolute ui-w-20 ui-h-20;
    left: calc(50% - theme('spacing.20'));
    top: calc(50% - theme('spacing.20'));
    animation-name: ripple;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0, 0.2, 0.8, 1);
    animation-iteration-count: infinite;
  }
  .ripple-element:nth-child(2) {
    animation-delay: 0.25s
  }
  .ripple-element:nth-child(3) {
    animation-delay: 0.5s
  }

  /* Progress Bar */
  .progress-bar::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px currentColor, 0 0 5px currentColor;
    transform: rotate(3deg) translate(0, -4px);
  }
}
